{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block page %}
<div class="col-sm-6 col-sm-offset-3">
	
    <h1 style="text-align: center">Forget Your Password ?</h1>
    <p style="text-align: center">Enter your email. Reset is just that easy !</p>
	
	<form method="post" action="">
	    {% csrf_token %}
	    {{ form | crispy }}
	    <input class="btn btn-danger" type="submit" value="{% trans 'Reset password' %}" />
	</form>
{% endblock %}


{# This is used by django.contrib.auth #}
