{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change password" %}{% endblock %}

{% block page %}
<div class="col-sm-6 col-sm-offset-3">
	<h1 style="text-align: center; color:#DC143C">Change Password</h1>
	<div class="line" style="margin-bottom: 20px"></div>
	<form method="post" action="">
	    {% csrf_token %}
	    {{ form | crispy }}
	    <input class="btn btn-danger" style="width:100%;" type="submit" value="{% trans 'Change password' %}" />
	</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
